.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: var(--background-primary-yellow);
  //background-color: var(--background-primary-yellow);

  opacity: 0;
  visibility: hidden;
  z-index: -2;
  pointer-events: none;
  transition: all 0.3s ease;

  &.overlayVisible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: -2;
  }
  
  &.overlayHidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.25s ease 0.1s; // Небольшая задержка для закрытия
  }
}

.menu {
  position: relative;
  width: 100%;
  background: transparent;
  display: block;
  transform-origin: top center;
  z-index: 1;
  
  // Анимация высоты меню
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  
  &.menuVisible {
    max-height: 500px;
    transition: max-height 0.4s ease;
  }
  
  &.menuHidden {
    max-height: 0;
    transition: max-height 0.35s ease 0; // Задержка чтобы дождаться анимации элементов
  }
}

.nav {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(20px);
  border-radius: 25px;
  margin: 5px;
  background: var(--background-primary-yellow);
  box-shadow: var(--box-shadow-primary);
  transform-origin: top center;
  
  // Анимация для навигации
  transition: all 0.3s ease;
  
  &.navHidden {
    transform: scaleY(0.8);
    opacity: 0;
    transition: all 0.25s ease; // Быстрее при закрытии
  }
  
  &.navVisible {
    transform: scaleY(1);
    opacity: 1;
    transition: all 0.3s ease 0s; // Задержка при открытии
  }
}

.item {
  padding: 0.5rem 0.5rem;
  background: none;
  border: none;
  text-align: left;
  font-size: 1.2rem;
  color: var(--text-primary);
  border-radius: 8px;
  cursor: pointer;
  scale: 1;
  transition-delay: color 0ms !important;
  
  // Анимация для элементов
  transition: all 0.25s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation; // Оптимизация для тач-устройств
  
  &:active, &:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  &.itemHidden {
    opacity: 0;
    transform: translateY(-5px) scale(0.8);
    // transition-delay устанавливается через style
  }
  
  &.itemVisible {
    opacity: 1;
    transform: translateY(0) scale(1);
    // transition-delay устанавливается через style

  }

  &:hover {
    transition: all 0.25s ease;

    color: var(--primary-color);
    scale: 1.01;
  }

  &.itemActive {
    color: var(--primary-color);
    scale: 1.01;
  }
}