.budgetTimelineSelection {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;

  }
  
  .section {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;
    //padding: 20px 20px;
  }

  .sectionTitleBlur {
    position: absolute;
    height: 50px;
    transform: translateY(-50px);
    //backdrop-filter: blur(50px); // Размывает фон под элементом

    
  }
  .sectionTitleWrapper {

    z-index: 99 ;
    //backdrop-filter: blur(50px); // Размывает фон под элементом

  }
  
  .sectionTitle {
    position: relative;
    
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--text-primary);
    margin: 0;
    z-index: 99 !important;
    //text-shadow: 0px 0px 1px var(--background-primary-section); 
    //background: var(--background-primary-yellow);    
    //backdrop-filter: blur(10px);
  }
  
  .optionsGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    //transform: translateY(-20px);

  }
  
  .option {
    padding: 12px 16px;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    background:transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
  
    &:hover {
      //border-color: var(--primary-color);
      //transform: translateY(-2px);
      transition: all 0.3s ease;

      background: var(--background-primary-yellow);
      box-shadow: var(--box-shadow-primary);

      .optionLabel {
        color: var(--primary-color);
        transition: all 0.3s ease;

      }

    }
  
    &.selected {
      border-color: var(--border-color-accent);
      background: var(--background-primary-yellow);
      box-shadow: var(--box-shadow-primary), inset 0px 0px 2px var(--border-color-accent);
      scale: 0.99;

      .optionLabel {
        color: var(--primary-color);
        transition: all 0.3s ease;

      }
    }
  }
  
  .optionLabel {
    font-size: 0.875rem;
    font-weight: 500;
    overflow-wrap: break-word;
    transition: all 0.3s ease;

    }
  
  .divider {
    height: 1px;
    background: var(--border-color);
    margin: 8px 0;
  }
  
  @media (min-width: 768px) {
    .optionsGrid {
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
    }
  }

  @media (max-width: 768px) {
    .optionsGrid {
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
    }
  }