.bookingSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    //display: grid;

    padding: 160px;
    gap: 40px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
    opacity: 1;
    //height: 100vh;
  

    &:hover {
      transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 1;
      background: var(--background-primary-yellow);

    }
  }
  
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .title {
    font-size: 48px;
    font-weight: 700;
    color: var(--text-primary);
    //margin-bottom: 16px;
  }
  
  .subtitle {
    font-size: 18px;
    color: var(--text-secondary);
    margin: 0;
  }
  
  // Адаптивность
  @media (max-width: 1024px) {
    .bookingSection {
      padding: 80px 60px;
    }
    
    .title {
      font-size: 36px;
    }
  }
  
  @media (max-width: 768px) {
    .bookingSection {
      padding: 40px 10px;
      gap: 1rem;

      .header {
        padding: 1rem;
      }
      
    }
    
    .title {
      font-size: 2rem;
    }
    
    .subtitle {
      font-size: 16px;
    }
  }

  @media (max-width: 480px) {
    .bookingSection {
      padding: 40px 0.5rem;
      gap: 1rem;

      .header {
        padding: 1rem;
      }
      
    }
    
    .title {
      font-size: 2rem;
    }
    
    .subtitle {
      font-size: 16px;
    }
  }