.bookingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    //display: grid;

    padding: 160px 0;
    gap: 40px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
    opacity: 1;
    //height: 100vh;
  

    &:hover {
      transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 1;
      //background: var(--background-primary-yellow);

    }
  }
  
  .header {
    width: 100%;
    max-width: 876px;
    display: flex;
    flex-direction: column;
    align-items: center;

    }
  
  .title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 1rem;
    letter-spacing: -0.02em;
    width: max-content;
    background: var( --text-primary-gr);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientShift 3s ease infinite;
    text-align: center;

  }
  
  .subtitle {
    font-size: 1.3rem;
    color: var(--text-secondary);
    margin: 0;
    text-align: center;

  }
  
  // Адаптивность
  @media (max-width: 1024px) {
    .bookingSection {
      padding: 80px 60px;
    }
    
    .title {
      font-size: 36px;
    }
  }
  
  @media (max-width: 768px) {
    .bookingSection {
      padding: 40px 10px;
      gap: 1rem;

      .header {
        padding: 1rem;
      }
      
    }
    
    .title {
      font-size: 2rem;
    }
    
    .subtitle {
      font-size: 16px;
    }
  }

  @media (max-width: 480px) {
    .bookingSection {
      padding: 40px 0.5rem;
      gap: 1rem;

      .header {
        padding: 1rem;
      }
      
    }
    
    .title {
      font-size: 2rem;
    }
    
    .subtitle {
      font-size: 16px;
    }
  }