@use '@app/styles/abstracts' as vars;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-primary-yellow);
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  z-index: -3;
  pointer-events: none;
  transition: all 0.3s ease;
  
  &.overlayVisible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  &.overlayHidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.25s ease 0.1s;
  }
}

.menu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: auto;
  max-width: fit-content;
  //background: var(--background-primary-yellow);
  transform-origin: top right;
  z-index: 1001;
  border-radius: 2.1rem;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  //box-shadow: var(--box-shadow-primary);
  
  // Независимая анимация без влияния на высоту хедера
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  
  &.menuVisible {
    max-height: 100vh;
    transition: max-height 0.4s ease;

  }
  
  &.menuHidden {
    max-height: 0;
    transition: max-height 0.35s ease;
  }
}

.nav {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(15px);
  border-radius: 2rem;
  margin: 5px;
  //background: var(--background-primary-yellow);
  box-shadow: var(--box-shadow-primary);
  transform-origin: top right;
  gap: 0.25rem;
  transition: all 0.3s ease;
  //box-shadow: var(--box-shadow-primary);


  
  &.navHidden {
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.25s ease;
  }
  
  &.navVisible {
    transform: scale(1);
    opacity: 1;
    transition: all 0.3s ease 0.05s;
  }
}

.item {
  padding: 1rem 1.5rem;
  background: none;
  border: none;
  text-align: left;
  font-size: 1.4rem;
  color: var(--text-primary);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.25s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation; // Оптимизация для тач-устройств
  transition: all 0.3s ease !important;
  scale: 1;


  &:active, &:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  &.itemHidden {
    opacity: 0;
    transform: translateX(10px);
  }
  
  &.itemVisible {
    opacity: 1;
    transform: translateX(0);
  }

  &:hover {
    color: var(--primary-color);
    //background: var(--bg-secondary);
    box-shadow: inset 0px 0px 7px var(--border-color-accent);
    transition: all 0.3s ease !important;
    scale: 0.995;
    border-radius: 1.5rem;


  }

  &.itemActive {
    color: var(--primary-color);
    font-weight: 550;
    box-shadow: inset 0px 0px 7px var(--border-color-accent);
    background: var(--background-primary-yellow);
    scale: 1.005;
    border-radius: 1.5rem;


  }
}