.content-card__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
  }
//animation: fadeInUp 0.6s ease forwards;    opacity: 0;    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);


  
  .content-card {
    overflow: hidden;
    position: relative;
    background: var(--background-secondary);
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(86, 156, 254, 0.1),
        transparent
      );
      transition: left 0.6s ease;
    }
    
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: var(--primary-color);
    }

    p {
      color: var(--text-secondary);
      line-height: 1.6;
      transition: all 0.2s ease-in-out;

    }

    &:hover {
      background: var(--background-secondary);
      border-radius: 16px;
      border: 1px solid var(--border-color);
      box-shadow: inset 0px 0px 3px var(--border-color-accent);

      &::before {
          left: 100%;
        }

      p {
          color: var(--text-primary);

        }
  
    }

    }

  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 480px) {
    .content-card__wrapper {
      grid-template-columns: 1fr;
    }
  }