.branding-identity-page {
    min-height: calc(100vh - 100px);
    padding-top: 60px;
    background: var(--black-white);


    .ProductHeroSection {
        z-index: 0;
        //height: 50vh;
      .container {
        margin: 5rem !important;


      }
 
    }

  }