.automationContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .circuitPath {
    position: absolute;
    border: 1px solid rgba(86, 156, 254, 0.3);
    overflow: hidden;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      background: linear-gradient(
        135deg,
        rgba(86, 156, 254, 0.05) 0%,
        transparent 50%,
        rgba(86, 156, 254, 0.052) 100%
      );
    }
  }
  
  .lightFlow {
    position: absolute;
    top: 0;
    left: -100%;
    width: 30%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(86, 156, 254, 0.3),
      transparent
    );
    filter: blur(5px);
    transform: skewX(-40deg);
  }
  
  .circuitNode {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: radial-gradient(
      circle,
      rgb(86, 254, 89) 0%,
      rgba(92, 213, 90, 0.8) 100%
    );
    transform: translate(-50%, -50%);
    filter: blur(1px);
    box-shadow: 
      0 0 20px rgba(86, 220, 254, 0.8),
      0 0 40px rgba(254, 254, 86, 0.787);
  }