@import '@app/styles/main.scss';

.App {
  min-height: 100vh;
  transition: all 0.3s ease;
}

.app-wavy-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; // Фон позади всего контента
}

.app-main-content {
  position: relative;
  z-index: 1; // Контент поверх фона
  min-height: 100vh;
  background: var(--black-white);


}

// Убедитесь, что body и html занимают всю высоту
html, body, main {
  background: var(--black-white);
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
  background: var(--black-white);

}


// src/App.scss (добавьте эти стили)
button, a, .clickable, .colabsys-btn-stack-item, .calendar-day {
  cursor: pointer !important;
}

// Для полей ввода оставляем стандартный курсор
input, textarea, select {
  cursor: auto !important;
}

// Плавный скролл для всей страницы
html {
  scroll-behavior: smooth;
}
