.briefSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 160px 160px;
  gap: 40px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
  //height: 100Vh;

  &:hover {
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    //background: var(--background-primary-yellow);
  }
}



.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  font-size: 3rem;    
  font-weight: 700;
  color: var(--text-primary);
  margin: 0 !important;

}

.subtitle {
  font-size: 18px;
  color: var(--text-secondary);
  margin: 0 !important;
}

// Убран submitButton из заголовка

@media (max-width: 1024px) {
  .briefSection {
    padding: 80px 60px;
  }
  
  .title {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .briefSection {
    padding: 40px 20px;
    gap: 1rem;
  }
  
  .title {
    font-size: 1.8rem;
  }
  
  .subtitle {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .briefSection {
    padding: 40px 0.5rem;
    gap: 1rem;
  }
  
  .title {
    font-size: 1.8rem;
  }
  
  .subtitle {
    font-size: 16px;
  }
}