.featuresGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 5px;
    width: 100%;
    position: relative;

    .headerSectionTitle {
      
      //height: 50px;
      display: flex;
      align-items: flex-end;      
      z-index: 99;
      overflow: hidden;
      //background: transparent;
      //backdrop-filter: blur(50px) !important;

    
    }

    .sectionTitle {
      position: relative; // Меняем fixed на relative
      display: flex;
      font-size: 0.875rem;
      font-weight: 600;
      color: var(--text-primary);
      margin-bottom: 11px;
      z-index: 1; // Поднимаем текст над блюром
      width: 100%;
      //background: var(--background-primary-yellow); // Добавлен полупрозрачный фон
      //line-height: 30px;

    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  
  .featureCard {
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1rem;
    //background: var(--bg-primary);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    //min-height: 120px;
    max-height: 100%;
    scale: 1;


    .selectedBadge {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--primary-color);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      transition: all 0.3s ease;
      scale: 0;
      transition-delay: 0.1s;
    }

    .featureTitle {
      font-size: 1rem;
      font-weight: 600;
      color: var(--text-primary);
      margin: 0 0 8px 0;
      transition: all 0.3s ease;

    }
    
  
    &:hover {
      //border-color: var(--primary-color);
      //transform: translateY(-2px);
      transition: all 0.3s ease;
      border-radius: 1.2rem;
      scale: 0.99;
      background: var(--background-primary-yellow);
      box-shadow: var(--box-shadow-primary);

      .featureTitle {
        color: var(--primary-color);
        transition: all 0.3s ease;


      }


    }
  
    &.active {
      border-color: var(--border-color-accent);
      background: var(--background-primary-yellow);
      box-shadow: var(--box-shadow-primary), inset 0px 0px 5px var(--border-color-accent);
      scale: 1.01;
      border-radius: 1.4rem;
      transition: all 0.3s ease;



        .selectedBadge {
          scale: 1;
          transition: all 0.3s ease;

        }

        .featureTitle {
          color: var(--primary-color);
        }

        .featureDescription {
           color: var(--text-primary);
        }
    }
  }
  
  .featureIcon {
    position: absolute;
    top: 12px;
    right: 12px;
  }
  
  .tooltipIcon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--bg-secondary);
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: help;
  }
  
  .featureContent {
    margin-right: 30px;
  }
  
  .featureDescription {
    font-size: 1rem !important;
    color: var(--text-secondary);
    margin: 0 !important;
    line-height: 1.2;
  }
  
