.serviceFeaturesSectionMobile {
  padding: 60px 1rem;
  display: grid;
  height: fit-content;
  align-items: center;
}

.serviceFeaturesContainerMobile {
  max-width: 460px;
  margin: 0 auto;
  width: 100%;
}

.serviceFeaturesHeaderMobile {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  align-items: center;

  .serviceFeaturesTitleMobile {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.2;
  }

  .serviceFeaturesSubtitleMobile {
    font-size: 1.125rem;
    color: var(--text-secondary);
    max-width: 600px;
    line-height: 1.2;
    text-align: center;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

// Базовые стили для аккордеона
.accordionItem {
  box-shadow: inset 0 0px 20px rgba(12, 140, 233, 0.1);
  border: 1px solid var(--background-primary-yellow);
  backdrop-filter: blur(2px) saturate(280%);
  -webkit-backdrop-filter: blur(2px) saturate(280%);     
  overflow: hidden;
  border-radius: 2rem;
  transform-origin: center center;
  background: transparent;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  position: relative;


  // Атрибут для отслеживания состояния
  &[data-active="true"] {
    .accordionTitle {
      color: var(--primary-color);
    }
  }

  &.closed {
    background-color: transparent;
    box-shadow: inset 0 0px 20px rgba(12, 140, 233, 0.1);
    .accordionTitle {
      color: var(--text-primary);
      transition: color 0.2s ease;
    }
    .accordionDescription {
      color: var(--text-secondary);
    }
  }
  
  &.active {
    //background-color: var(--background-primary-yellow);
    box-shadow:inset 0 0px 30px rgba(12, 140, 233, 0.25), 0 0px 30px rgba(12, 140, 233, 0.1), var(--box-shadow-primary);
    backdrop-filter: blur(4px) saturate(280%);
    -webkit-backdrop-filter: blur(4px) saturate(280%);   

    .accordionDescription {
      transition: opacity 0.2s ease, transform 0.2s ease, height 0.2s ease;

    }
    .accordionTitle {
      transition: color 0.2s ease;
      color: var(--primary-color);
    }
  }
  
  // Для opening и closing состояний фон должен быть прозрачным
  // чтобы не было желтого мелькания
  &.opening,
  &.closing {
    background-color: transparent !important;
    box-shadow: inset 0 0px 20px rgba(12, 140, 233, 0.1) !important;
  }
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 1.75rem;
  cursor: pointer;
  min-height: 90px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  
  .headerContent {
    flex: 1;
    margin-right: 2.5rem;
  }
  
  .accordionTitle {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    line-height: 1;
    transition: color 0.2s ease;
  }
  
  .accordionDescription {
    font-size: 1rem;
    line-height: 1.2;
    transition: opacity 0.2s ease, transform 0.2s ease, height 0.2s ease;
    color: var(--text-secondary);


  }
}

.arrowContainerMobile {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #ff7b0016, #df00f816, #00eeff1c);
  border-radius: 50px;
  border: 1px solid var(--border-color);
  backdrop-filter: blur(15px) saturate(250%);
  transform-origin: center center;
  
  .arrowMobile {
    width: 0.8rem;
    height: 0.8rem;
    fill: currentColor;
    transform: rotate(-45deg);
  }
}

.accordionContent {
  overflow: hidden;
  padding: 0 1.5rem;
  position: relative;
  top: -4.25rem;
  
  .detailDescription {
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-primary);
    margin: 0 0.25rem 1.5rem 0.25rem;
  }
  .detailExample {
    font-size: 0.95rem;
    line-height: 1.4;
    color: var(--text-primary);
    font-style: italic;
    padding: 1.5rem;
    border-radius: 1.5rem;
    margin: 0;
    background: var(--background-primary-yellow);
    box-shadow: var(--box-shadow-primary), inset 0 0px 10px rgba(12, 140, 233, 0.2);
  }
}

// Адаптивность для мобильной версии
@media (max-width: 480px) {
  .serviceFeaturesSectionMobile {
    padding: 40px 1rem;
  }
  
  .accordionHeader {
    padding: 2rem 1.75rem ;
    min-height: 80px;
    
    .accordionTitle {
      font-size: 1.4rem;
      transition: color 0.2s ease;
    }
    
    .accordionDescription {
      font-size: 1rem;
    }
  }
  
  .arrowContainerMobile {
    width: 1.8rem;
    height: 1.8rem;
    top: 1rem;
    right: 1rem;
    
    .arrowMobile {
      width: 0.7rem;
      height: 0.7rem;
    }
  }
  
  .accordionContent {
    padding: 0 1.25rem;
    
    .detailDescription {
      font-size: 1rem;
      margin: 0 0.5rem 1.5rem 0.5rem;
    }
    
    .detailExample {
      font-size: 0.9rem;
      padding: 1.25rem;
    }
  }
}