.tabletLayout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  
  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
  @media (min-width: 1024px) {
    width: 430px;
  }
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
  @media (min-width: 1024px) {
    width: 430px;
  }
}

.selectionContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

// Для планшетов с шириной больше 1024px
@media (min-width: 1024px) and (max-width: 1440px) {
  .tabletLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 860px; // 2 колонки по 430px
    margin: 0 auto;
    
    .leftColumn {
      width: 100%;
      grid-column: 1;
    }
    
    .rightColumn {
      width: 100%;
      grid-column: 2;
    }
  }
}

// Для планшетов в альбомной ориентации
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .tabletLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
    .leftColumn {
      width: 100%;
      grid-column: 1;
    }
    
    .rightColumn {
      width: 100%;
      grid-column: 2;
    }
  }
}

// Адаптивность для планшетов
@media (max-width: 1024px) and (min-width: 768px) {
  .tabletLayout {
    padding: 0 20px;
    gap: 1rem;

  }
}

@media (max-width: 768px) {
  .tabletLayout {
    gap: 1rem;
    padding: 0 10px;
  }
  
  .leftColumn,
  .rightColumn {
    width: 100%;
  }
}