// Минимальные стили
.backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
  }
  
  .content {
    position: relative;
    z-index: 1;
  }