.demo-section_items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .demo-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .button-stack_wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px
  }
  
  .button-stack-row_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: max-content;
  }