// Импортируем все начертания Manrope
@import '@fontsource/manrope/300.css';   // Light
@import '@fontsource/manrope/400.css';   // Regular
@import '@fontsource/manrope/500.css';   // Medium
@import '@fontsource/manrope/600.css';   // SemiBold
@import '@fontsource/manrope/700.css';   // Bold
@import '@fontsource/manrope/800.css';   // ExtraBold